header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    color: rgb(255, 215, 53);
}

header h1 {
    font-size: 2em;
    margin-left: 30%;
}

header p {
    margin-right: 50%;
}

.carousel-item {
    width: 100%;
    max-height: 80vh;
    z-index: -1;
}