/*index-global*/
header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    color: rgb(255, 215, 53);
}

header h1 {
    font-size: 2em;
    padding-left: 30%;
}

header p {
    padding-right: 50%;
}

.carousel-item {
    width: 100%;
    max-height: 80vh;
    z-index: -1;
}

#support .text-center {
    margin: auto;
}

#support h6 {
    margin-top: 2%;
    text-decoration: underline;
}

#support h1 {
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #35acc6;
}

#support p {
    color: #595959;
    font-size: 0.8em;
}

#support button {
    background-color: #35acc6;
    border: none;
    margin-bottom: 2%;
    border-radius: 30px;
    color: #fff;
    padding: 1% 8%;
    transition: 0.3s;
}

#support button:hover {
    background-color: #76e6ff;
}

.btn-info {
    background-color: #35acc6;
    border: none;
    color: #fff;
    transition: 0.3s;
}

.btn-info:hover {
    background-color: #76e6ff;
    color: #fff;
}

#social {
    background-color: #76e6ff;
    padding: 3% 0;
}

#social .text-start {
    padding-left: 20%;
}

#social .d-flex {
    width: 50%;
    font-size: 1.5em;
    justify-content: space-around;
}

#social .text-end {
    padding-right: 20%;
}

.bi-facebook {
    color: #3b5998;
}

.fa-twitter-square {
    color: #00aced;
}

.bi-linkedin {
    color: #007bb5;
}

.bi-instagram {
    color: #e4405f;
}

.bi-rss-fill {
    color: #f26522;
}

i:hover {
    cursor: pointer;
    color: #fff;
}

.secHead {
    background-color: #00aced;
    color: #fff;
}

.secHead p {
    padding: 0.5% 0 0.5% 10%;
}

#more {
    background-color: #000;
    color: #fff;
    padding: 2% 0;
}

#more h5::after {
    content: '';
    background-color: #313131;
    display: block;
    width: 30%;
    height: 1px;
    margin: 1% auto;
}

#more ul {
    list-style: none;
    padding: 0;
    color: #888888;
}

#more ul li:hover {
    color: #fff;
    cursor: pointer;
}

#foot {
    background-color: #313131;
    color: #fff;
}

#foot .text-start {
    padding-left: 2%;
}

#foot .text-end {
    padding-right: 2%;
    padding-top: 1%;
}
/*modal*/
.modal-body h4 {
    padding-right: 35%;
}

.btn-light {
    background-color: #dedede;
    border: none;
    border-radius: 0%;
}

.btn-light:hover {
    background-color: #fff;
    border: none;
    border-radius: 0%;
}

.btn-light.active {
    background-color: #e38400;
    border: none;
    border-radius: 0%;
}

.modal .btn-primary {
    background-color: #00aced;
    color: #fff;
    border: none;
    border-radius: 0%;
    margin: 2% 0 2% 16%;
    transition: 0.3s;
}

.modal .btn-primary:hover {
    background-color: #76e6ff;
    color: #fff;
}

.col-1 label {
    margin-top: 15%;
}

.col-11 input, .col-11 select {
    margin-left: 8%;
    width: 92%;
}

.col-11 #fullname {
    margin-left: 0;
}

/*about*/
#abHead {
    width: 100%;
    height: 25vh;
    background-image: url(car1.jpg);
}

#about section {
    padding: 0 20%;
}

#about section h1 {
    color: #00aced;
}

#about section p {
    padding-left: 3%;
}

#about li {
    padding: 1% 0;
}

/*support*/
#supPage section h1 {
    color: #00aced;
    margin: 2% 0;
}

#supPage input, #supPage textarea {
    margin-top: 2%;
}

#supPage select {
    width: 30%;
}

#supPage .btn-primary {
    background-color: #00aced;
    color: #fff;
    border: none;
    border-radius: 0%;
    margin: 2% 0;
    transition: 0.3s;
}

#supPage .btn-primary:hover {
    background-color: #76e6ff;
    color: #fff;
}

#supPage #supInfo {
    margin-top: 15%;
    margin-left: 2%;
    background-color: #e9e9e9;
    border: 1px solid #b2b2b2;
    padding: 5%;
}

#supPage #supInfo span {
    color: #007bb5;
}

#supPage #supInfo h6 {
    color: #007bb5;
}

/*faq*/
#faq section {
    padding: 0 20%;
}

#faq section h1 {
    color: #00aced;
    margin: 2% 0;
}

#faq section li {
    padding: 1% 0;
}

#faq section h6 {
    color: #007bb5;
}

#faq section p {
    padding-left: 3%;
}